@model IEnumerable<News>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}


<link rel="stylesheet" href="/css/Table.css">
<div id="content">
    <nav class="navbar navbar-default" style="background-color: white;">
        <div class="container-fluid">
            <br />
                <h2 class="text-info"> News List</h2>
            <br />
            <div class="border backgroundWhite">
                <div class="row">
                    <div class="col-6 text-right">
                        <partial name="_CreateButtonPartial" />
                    </div>
                </div>
                <br />
                <div>
                    <div class="container-fluid">
                        @if (Model.Count() > 0)
                        {
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr class="table-secondary">
                                        <th>
                                            @Html.DisplayNameFor(m => m.Header)
                                        </th>
                                        @*<th>
                                            @Html.DisplayNameFor(m => m.ApplicationUser)
                                        </th>*@
                                        <th>
                                            @Html.DisplayNameFor(m => m.PublishedDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(m => m.Type)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(m => m.MenuItem.Name)
                                        </th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(m => item.Header)
                                            </td>
                                            @*<td>
                                                 @Html.DisplayFor(m => item.ApplicationUser.Name)
                                             </td>*@
                                            <td>
                                                @Html.DisplayFor(m => item.PublishedDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(m => item.Type)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(m => item.MenuItem.Name)
                                            </td>

                                            <td>
                                                <partial name="_TableButtonPartial" model="item.Id" />
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <p>No category exists...</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
